body {
    margin: 20px;
    background: #f8f8f8;
    font-family: Calibri;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.product {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 30px;
    outline: 1px dotted gray;
}

.product img {
    background: #fff;
    /*width: 100px;*/
    height: 150px;
    /*margin: 20px;*/
    padding: 3px;
}

.product h3 {
    margin: 0px;
    padding: 10px;
    margin-top: 0px;
    background: #dddddd;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}

.price {
    margin: 0px;
    padding: 10px;
    margin-top: 0px;
    color: #415fff;
    font-size: 24px;
    font-weight: bold;
}

#products-list {
    text-align: center;
}

#cart {
    display: flex;
    cursor: pointer;
}

#cart img {
    width: 50px;
    padding: 10px;
    opacity: .5;
}

#cart img:hover {
    opacity: 1;
}

.buy {
    display: inline-block;
    background-color: #415fff;
    color: white;
    padding: 15px 30px;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.buy:hover {
    color: black;
    background-color: #bbb;
}

.remove {
    display: inline-block;
    background-color: #415fff;
    color: white;
    padding: 5px 10px;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.remove:hover {
    color: black;
    background-color: #bbb;
}

#popup {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
}

#img-prev, #img-next {
    /*display: inline-block;*/
    /*transform: translateY(-50%);*/
    width: 50px;
    /*background-color: #777;*/
    cursor: pointer;
    opacity: .5;
    margin: auto 0;

}

#img-prev:hover, #img-next:hover {
    opacity: 1;
}

#product-img {
    position: relative;
    width: 300px;
    /*display: inline-block;*/
    margin: auto 0;
}

#popup-back {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0px;
    left: 0px;
    z-index: -1; 
}

#popupCart {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
}

#popupCartContent {
    position: relative;
    margin: auto 0;
    width: 600px;
    height: 400px;
    background-color: #fff;
    border: 1px dotted gray;
}

#purchases, #delivery, #comment {
    display: none;
    margin: 10px;
    width: 580px;
    height: 300px;
    border: 1px dotted gray;
}

#close {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 30px;
    display: block;
    cursor: pointer;
    opacity: .7;
    margin: auto 0;

}

#close:hover {
    opacity: 1;
}

/* -- elements -------------------------------------------- */

.img-rounded {
    border-radius: 10px;
}

hr {
    clear: both;
    border-top: 1px dashed #999;
    margin-top: 15px;
    margin-bottom: 15px;
    /*border-top: 1px dotted gray;*/
}

h2 {
    text-align: center;
}

a {
    color: #222;
    text-decoration: none;

}

a:hover {
    color: #777;
    text-decoration: underline;
}

a:hover > img {
    background: #777;
}

h4 {
    margin: 0px;
    padding: 5px;
    background: #dddddd;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}

form {
    margin-bottom: 30px;
}

label {
    width: 80px;
    display: inline-block;
    /*float:left;*/
    padding: 10px;
    /*margin: 10px;*/
}

input,
textarea {
    width: 400px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px;
    /*margin: 10px;*/
    border: 1px solid #888;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
}

input[name="name"],
textarea[name="message"] {
    text-transform: capitalize;
}

input[name="email"]:focus {
    color: white;
    background: #333;
}

textarea {
    width: 500px;
}

input[type="submit"],
input[type="reset"] {
    width: 150px;
    font-size: 16px;
    /*font-weight: 400;*/
    text-align: center;
    background: #888;
    color: white;
    border: 0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 0px;
    margin-right: 10px;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus {
    background-color: #415fff;
    /*box-shadow: 0 0 0 -2px white, 0 0 0 2px black;*/
}

